body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    padding:60px;
    text-align: center;
}
* {
  padding:0;
  margin:0;
}

html{
  font:14px normal Arial, sans-serif;
  color:#626771;
  background-color:#fff;
}

ul{
  list-style:none;
  display: inline-block;
}

table{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    transition:0.3s;
    border: groove;
}

table tr{
    margin: 10px;
}

table td{
    margin: 10px;
    padding: 10px;
}

ul li{
  display: inline-block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:#7B8585;
  transition:0.3s;
}

ul li:hover{
  background-color:#beecea;
}

ul li.focused{
  color:#fff;
  background-color:#41c7c2;
}

p{
  padding-top:15px;
  font-size:12px;
}

/*search string*/
input[type=text]{
  text-align: center;
  font: inherit;
  font-size: 15px;
  box-shadow: 0 1px 1px #DDD;
  width: 384px;
  outline: none;
  display: inline;
  color: #7B8585;
  margin: 0 auto 20px;
}

/*order form*/
h1{
    font-size:18px;
    margin-bottom:20px;
}

#services{
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#services p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

#services p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#services p:hover{
    background-color:#d8f2f1;
}

#services p.active{
    color:#fff;
    background-color:#41c7c2;
}

#services p.active b{
    color: #fff;
}

#total{
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}

/*dropdown*/
